* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    display: flex;
    justify-content: space-between;
    /* margin-top: 10px; */
    padding: 12px 50px;
    height: 70px;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    background: rgba(255, 255, 255, 0.3);
    width: 100%;
}

.sticky {
    background: rgba(255, 255, 255, 1);
}

.header:hover {
    background: rgba(255, 255, 255, 1);
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
}

.header__logo {
    flex: 1;
    padding-bottom: 5px;
    margin-top: 13px;
}

.header__menu {
    flex: 3;
    display: flex;
}

.header__menu>li {
    padding: 0 10px;
    position: relative;
}

.header__menu>li:hover .header__submenu {
    visibility: visible;
    top: 30px;
}

.header__submenu {
    position: absolute;
    width: 150px;
    border: 1px solid #ccc;
    padding: 10px 20px 10px 10px;
    visibility: hidden;
    top: 50px;
    transition: 0.2s;
    z-index: 1;
    background-color: #fff;
}

.header__menu>li>a {
    font-size: 12px;
    font-weight: bold;
    color: #000;
    display: block;
    line-height: 20px;
}

.header__submenu>li>a {
    font-size: 12px;
    font-weight: bold;
    color: #000;
    display: block;
    line-height: 20px;
}

.header__submenu ul a {
    color: #000;
    padding-left: 20px;
    font-size: 12px;
}

.header__others {
    flex: 1;
    display: flex;
}

.header__others>li {
    padding: 0 10px;
    position: relative;
}

.header__others li::after {
    content: "";
    display: block;
    width: 1px;
    height: 80%;
    background: #ccc;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
}

.header__others li:last-child::after {
    display: none;
}

.header__others>li:first-child {
    position: relative;
}

.header__others>li:first-child input {
    width: 100%;
    border: none;
    border-bottom: 1px solid #333;
    background: transparent;
    outline: none;
}

.header__others>li:first-child i {
    position: absolute;
    right: 10px;
}

.header__others li a {
    color: #000;
}

.aspect-ratio-169 {
    display: block;
    position: relative;
    /* padding-top: 56.25%; */
    transition: 0.3s;
    height: 650px;


}

.aspect-ratio-169 img {
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    /* top: 20px; */
    left: 8%;
}

#slider {
    padding-bottom: 40px;
    border-bottom: 2px solid #333;
    overflow: hidden;
}

.dot-container {
    height: 30px;
    position: absolute;
    width: 100%;
    display: flex;
    top: 665px;
    justify-content: center;
}

.dot {
    height: 14px;
    width: 14px;
    background-color: #ccc;
    border-radius: 50%;
    margin-right: 12px;
    cursor: pointer;
}

.dot-active {
    background-color: #333;
}

/*----------------App----------------------*/

.container {
    text-align: center;
    align-items: center;
    padding: 130px 0 30px 0;
}

.download-app {
    margin: 30px;
}

.download-app img {
    cursor: pointer;
}

.container p {
    line-height: 20px;
    letter-spacing: 1px;
    font-size: 17px;
    color: #000;
    font-weight: bold;
}

.container input {
    margin: 30px;
    border: none;
    border-bottom: 1px solid #000;
    padding-bottom: 10px;
    text-align: center;
    width: 400px;
    outline: none;
}

/*--------------Footer-----------------*/

.footer__top {
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
}

.footer__top li {
    padding: 0 15px 0 15px;
    position: relative;
}

.footer__top li::after {
    content: "";
    display: block;
    width: 1px;
    height: 80%;
    background: #ccc;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
}

.footer__top li:last-child::after {
    display: none;
}

.footer__top li:last-child a {
    margin-right: 12px;
    color: #333;
}

.footer__top li a {
    color: #000;
    font-weight: bold;
}

.footer__mid {
    margin-top: 20px;
    text-align: center;
    font-size: 14px;
}

.footer__bottom {
    margin-top: 30px;
    margin-bottom: 10px;
    text-align: center;
    font-style: italic;
    font-size: 14px;
}